@import 'variables';

img.home-logo {
  height: 20vmin;
  max-height: 200px;
  min-height: 100px;
  margin-top: -10vmin;
  width: auto;
}

.home-img{
  position: absolute;
  top: 0;
  right: 0;
  max-width: 70%;
  height: auto;
}

.delivery-img{
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 100%;
  height: auto;
}

//--------------------------------------------------------------------------------------------------------------------------------------------------//



@media screen and (max-width: $tabLandscape){

  img.home-logo {
    margin-top: 0;
  }

}

@media screen and (max-width: $tabPortrait){

  .home-img, .delivery-img{
    opacity: 0.35;
  }

}
