@import 'variables';

img.home-logo {
  max-width: 200px;
  margin-top: -100px;
}

.home-section{

}

.home-img{
  position: absolute;
  top: 0;
  right: 0;
  max-width: 80%;
  height: auto;
}

.delivery-img{
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 100%;
  height: auto;
}

.main-menu {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  li{
    opacity: 0.5;
    &.active{
      opacity: 1;
    }
  }
}