@import 'variables';

.meni{}

.meni-item{
  padding: 0 $spacing*2;
  cursor: pointer;

  .pict{
    position: relative;
    svg{
      height: auto;
      width: 23vmin;
      min-width: 105px;
      margin: $spacing 0;
      @include basicTransition(0.5s);

      path{
        fill:none;
        stroke:$white;
        stroke-width:1;
        opacity: 0.3;
        stroke-dasharray: 0;
        stroke-dashoffset: 10;
        @include basicTransition(0.2s);
      }
    }
    i{
      position: absolute;
      top: 50%;
      left: 50%;
      text-align: center;
      font-size: 10vmin;
      @include translate(-50%, -50%);
      @include basicTransition(0.5s);
      z-index: 1;
    }
  }
  h2{
    font-family: $thin;
    font-size: 1.2em;
    letter-spacing: 0.2em;
  }
}

.meni-item:hover{
  .pict{
    svg{
      path{
        fill:rgba(0,0,0,0.2);
        stroke:$main;
        opacity: 1;
        stroke-dashoffset: 500;
        stroke-dasharray: 10;
      }
    }
    i{
      color: $main;
    }
  }
}

//meni midal-------------------------------------------

.meni-modal{

}

.meni-modal-txt{
  padding: $spacing*2;
  max-height: 90vh;
  min-height: 50vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.meni-modal-img{
  background-size: contain;
  background-position: bottom left;
  background-repeat: no-repeat;
}

//--------------------------------------------------------------------------------------------------------------------------------------------------//


@media screen and (max-width: $mobile){

  .meni-item{
    padding: 0 $spacing;
    .pict{
      i{
        font-size: 55px;
      }
    }
    h2{
      font-size: .95em;
    }
  }

}