@import 'variables';

.meni{}

.meni-title{
  margin-top: -$nav-height;
}

.meni-item{
  padding: 0 $spacing*2;
  cursor: pointer;

  .pict{
    position: relative;
    svg{
      height: 23vmin;
      width: auto;
      min-height: 105px;
      margin: $spacing 0;
      @include basicTransition(0.5s);

      path{
        fill:none;
        stroke:$white;
        stroke-width:1;
        opacity: 0.3;
        stroke-dasharray: 0;
        stroke-dashoffset: 10;
        @include basicTransition(0.2s);
      }
    }
    i{
      position: absolute;
      top: 50%;
      left: 50%;
      text-align: center;
      font-size: 10vmin;
      @include translate(-50%, -50%);
      @include basicTransition(0.5s);
      z-index: 1;
    }
  }
  h2{
    font-family: $thin;
    font-weight: 100;
    font-size: 1.1em;
    letter-spacing: 0.2em;
  }
}

.meni-item:hover, .meni-item:focus{
  .pict{
    svg{
      path{
        fill:rgba(0,0,0,0.2);
        stroke:$main;
        opacity: 1;
        stroke-dashoffset: 500;
        stroke-dasharray: 10;
      }
    }
    i{
      color: $main;
    }
  }
}

//meni midal-------------------------------------------

.meni-modal{
  background: $dark;
  width: 80vw;
}


.meni-modal-title{
  display: block;
  float: left;
  width: 40%;
  padding: $spacing*2;
  text-align: center;
  h1{
    font-family: $thin;
    font-weight: 100;
    font-size: 4.5vmin;
    letter-spacing: 0.3em;
  }
}

.meni-modal-txt{
  display: block;
  float: left;
  width: 60%;
  padding: $spacing*2;
  max-height: 90vh;
  overflow-y: auto;
  overflow-x: hidden;
//  border-left: solid 1px rgba(255,255,255,0.05);
}

.meni-modal-img{
  background-size: contain;
  background-position: bottom left;
  background-repeat: no-repeat;
}

.meni-list-item{
  margin-bottom: 40px;
  position: relative;
  @include clearfix;
  h4{
    clear: both;
  }
  p{
    float: left;
    font-size: 0.8em;
    background: $dark;
    position: relative;
    z-index: 1;
    opacity: 1;
    color: darken($white, 30);
    padding-right: 10px;
    line-height: 25px;
  }
  h5{
    float: right;
    background: $dark;
    font-size: 140%;
    margin: 0;
    position: relative;
    z-index: 1;
    padding-left: 10px;
    line-height: 25px;
  }

  span{
    position: absolute;
    right: 0;
    bottom: 3px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    font-size: 13px;
    opacity: 0.3;
    &:after{
      content:' . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . '
    }
  }
}

//--------------------------------------------------------------------------------------------------------------------------------------------------//


@media screen and (max-width: $tabLandscape){

  .meni-title{
    margin-top: 0;
  }

}

@media screen and (max-width: $mobile){

  .meni-item{
    padding: 0 $spacing;
    .pict{
      i{
        font-size: 55px;
      }
    }
    h2{
      font-size: .95em;
    }
  }

}