/*TV categories*/
/*
 *  Owl Carousel CSS3 Transitions 
 *  v1.3.2
 */
/* line 8, ../scss/owl-transitions.scss */
.owl-origin {
  -webkit-perspective: 1200px;
  -webkit-perspective-origin-x: 50%;
  -webkit-perspective-origin-y: 50%;
  -moz-perspective: 1200px;
  -moz-perspective-origin-x: 50%;
  -moz-perspective-origin-y: 50%;
  perspective: 1200px;
}

/* slideTop */
/* line 18, ../scss/owl-transitions.scss */
.owl-slideTop-out {
  z-index: 10;
  -webkit-animation: slideTopOut .7s both ease;
  -moz-animation: slideTopOut .7s both ease;
  animation: slideTopOut .7s both ease;

  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;

}

/* line 24, ../scss/owl-transitions.scss */
.owl-slideTop-in {
  -webkit-animation: slideTopIn .7s both ease;
  -moz-animation: slideTopIn .7s both ease;
  animation: slideTopIn .7s both ease;

  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
}


/* fade */
/* line 18, ../scss/owl-transitions.scss */
.owl-fade-out {
  z-index: 10;
  -webkit-animation: fadeOut .4s both ease;
  -moz-animation: fadeOut .4s both ease;
  animation: fadeOut .4s both ease; }

/* line 24, ../scss/owl-transitions.scss */
.owl-fade-in {
  -webkit-animation: fadeIn .4s both ease;
  -moz-animation: fadeIn .4s both ease;
  animation: fadeIn .4s both ease; }

/* backSlide */
/* line 30, ../scss/owl-transitions.scss */
.owl-backSlide-out {
  -webkit-animation: backSlideOut 1s both ease;
  -moz-animation: backSlideOut 1s both ease;
  animation: backSlideOut 1s both ease; }

/* line 35, ../scss/owl-transitions.scss */
.owl-backSlide-in {
  -webkit-animation: backSlideIn 1s both ease;
  -moz-animation: backSlideIn 1s both ease;
  animation: backSlideIn 1s both ease; }

/* goDown */
/* line 41, ../scss/owl-transitions.scss */
.owl-goDown-out {
  -webkit-animation: scaleToFade .7s ease both;
  -moz-animation: scaleToFade .7s ease both;
  animation: scaleToFade .7s ease both; }

/* line 46, ../scss/owl-transitions.scss */
.owl-goDown-in {
  -webkit-animation: goDown .6s ease both;
  -moz-animation: goDown .6s ease both;
  animation: goDown .6s ease both; }

/* scaleUp */
/* line 52, ../scss/owl-transitions.scss */
.owl-fadeUp-in {
  -webkit-animation: scaleUpFrom .6s ease both;
  -moz-animation: scaleUpFrom .6s ease both;
  animation: scaleUpFrom .6s ease both; }

/* line 58, ../scss/owl-transitions.scss */
.owl-fadeUp-out {
  -webkit-animation: scaleUpTo .6s ease both;
  -moz-animation: scaleUpTo .6s ease both;
  animation: scaleUpTo .6s ease both; }

/* curtain */
/* line 66, ../scss/owl-transitions.scss */
.owl-curtain-out {
  -webkit-animation: curtainOut .7s ease both;
  -moz-animation: curtainOut .7s ease both;
  animation: curtainOut .7s ease both;
  -webkit-transform-origin: 100% 0;
  -moz-transform-origin: 100% 0;
  transform-origin: 100% 0; }

/* line 74, ../scss/owl-transitions.scss */
.owl-curtain-in {
  -webkit-animation: curtainIn .7s ease both;
  -moz-animation: curtainIn .7s ease both;
  animation: curtainIn .7s ease both; }

/* vertical rotate */
/* line 81, ../scss/owl-transitions.scss */
.owl-verticalRotate-out {
  -webkit-animation: verticalOut .7s ease both;
  -moz-animation: verticalOut .7s ease both;
  animation: verticalOut .7s ease both;
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  animation-delay: 0.1s; }

/* line 89, ../scss/owl-transitions.scss */
.owl-verticalRotate-in {
  -webkit-animation: verticalIn .7s ease both;
  -moz-animation: verticalIn .7s ease both;
  animation: verticalIn .7s ease both; }

/* Keyframes */
/*empty*/
@-webkit-keyframes empty {
  /* line 98, ../scss/owl-transitions.scss */
  0% {
    opacity: 1; } }

@-moz-keyframes empty {
  /* line 101, ../scss/owl-transitions.scss */
  0% {
    opacity: 1; } }

@keyframes empty {
  /* line 104, ../scss/owl-transitions.scss */
  0% {
    opacity: 1; } }

@-webkit-keyframes slideTopIn {
  0% {
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: none;
    -moz-transform: none;
    transform: none;
    opacity: 1;
  }
}
@-moz-keyframes slideTopIn {
  0% {
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: none;
    -moz-transform: none;
    transform: none;
    opacity: 1;
  }
}
@keyframes slideTopIn {
  0% {
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: none;
    -moz-transform: none;
    transform: none;
    opacity: 1;
  }
}

@-webkit-keyframes slideTopOut {
  0% {
    -webkit-transform: none;
    -moz-transform: none;
    transform: none;
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transform: rotateX(90deg);
    opacity: 0;
  }
}
@-moz-keyframes slideTopOut {
  0% {
    -webkit-transform: none;
    -moz-transform: none;
    transform: none;
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transform: rotateX(90deg);
    opacity: 0;
  }
}
@keyframes slideTopOut {
  0% {
    -webkit-transform: none;
    -moz-transform: none;
    transform: none;
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transform: rotateX(90deg);
    opacity: 0;
  }
}



@-webkit-keyframes fadeIn {
  /* line 107, ../scss/owl-transitions.scss */
  0% {
    opacity: 0; }

  /* line 108, ../scss/owl-transitions.scss */
  100% {
    opacity: 1; } }

@-moz-keyframes fadeIn {
  /* line 111, ../scss/owl-transitions.scss */
  0% {
    opacity: 0; }

  /* line 112, ../scss/owl-transitions.scss */
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  /* line 115, ../scss/owl-transitions.scss */
  0% {
    opacity: 0; }

  /* line 116, ../scss/owl-transitions.scss */
  100% {
    opacity: 1; } }

@-webkit-keyframes fadeOut {
  /* line 119, ../scss/owl-transitions.scss */
  0% {
    opacity: 1; }

  /* line 120, ../scss/owl-transitions.scss */
  100% {
    opacity: 0; } }

@-moz-keyframes fadeOut {
  /* line 123, ../scss/owl-transitions.scss */
  0% {
    opacity: 1; }

  /* line 124, ../scss/owl-transitions.scss */
  100% {
    opacity: 0; } }

@keyframes fadeOut {
  /* line 127, ../scss/owl-transitions.scss */
  0% {
    opacity: 1; }

  /* line 128, ../scss/owl-transitions.scss */
  100% {
    opacity: 0; } }

@-webkit-keyframes backSlideOut {
  /* line 131, ../scss/owl-transitions.scss */
  25% {
    opacity: .5;
    -webkit-transform: translateZ(-500px); }

  /* line 132, ../scss/owl-transitions.scss */
  75% {
    opacity: .5;
    -webkit-transform: translateZ(-500px) translateX(-200%); }

  /* line 133, ../scss/owl-transitions.scss */
  100% {
    opacity: .5;
    -webkit-transform: translateZ(-500px) translateX(-200%); } }

@-moz-keyframes backSlideOut {
  /* line 136, ../scss/owl-transitions.scss */
  25% {
    opacity: .5;
    -moz-transform: translateZ(-500px); }

  /* line 137, ../scss/owl-transitions.scss */
  75% {
    opacity: .5;
    -moz-transform: translateZ(-500px) translateX(-200%); }

  /* line 138, ../scss/owl-transitions.scss */
  100% {
    opacity: .5;
    -moz-transform: translateZ(-500px) translateX(-200%); } }

@keyframes backSlideOut {
  /* line 141, ../scss/owl-transitions.scss */
  25% {
    opacity: .5;
    transform: translateZ(-500px); }

  /* line 142, ../scss/owl-transitions.scss */
  75% {
    opacity: .5;
    transform: translateZ(-500px) translateX(-200%); }

  /* line 143, ../scss/owl-transitions.scss */
  100% {
    opacity: .5;
    transform: translateZ(-500px) translateX(-200%); } }

@-webkit-keyframes backSlideIn {
  /* line 146, ../scss/owl-transitions.scss */
  0%, 25% {
    opacity: .5;
    -webkit-transform: translateZ(-500px) translateX(200%); }

  /* line 147, ../scss/owl-transitions.scss */
  75% {
    opacity: .5;
    -webkit-transform: translateZ(-500px); }

  /* line 148, ../scss/owl-transitions.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateZ(0) translateX(0); } }

@-moz-keyframes backSlideIn {
  /* line 151, ../scss/owl-transitions.scss */
  0%, 25% {
    opacity: .5;
    -moz-transform: translateZ(-500px) translateX(200%); }

  /* line 152, ../scss/owl-transitions.scss */
  75% {
    opacity: .5;
    -moz-transform: translateZ(-500px); }

  /* line 153, ../scss/owl-transitions.scss */
  100% {
    opacity: 1;
    -moz-transform: translateZ(0) translateX(0); } }

@keyframes backSlideIn {
  /* line 156, ../scss/owl-transitions.scss */
  0%, 25% {
    opacity: .5;
    transform: translateZ(-500px) translateX(200%); }

  /* line 157, ../scss/owl-transitions.scss */
  75% {
    opacity: .5;
    transform: translateZ(-500px); }

  /* line 158, ../scss/owl-transitions.scss */
  100% {
    opacity: 1;
    transform: translateZ(0) translateX(0); } }

@-webkit-keyframes scaleToFade {
  /* line 161, ../scss/owl-transitions.scss */
  to {
    opacity: 0;
    -webkit-transform: scale(0.8); } }

@-moz-keyframes scaleToFade {
  /* line 164, ../scss/owl-transitions.scss */
  to {
    opacity: 0;
    -moz-transform: scale(0.8); } }

@keyframes scaleToFade {
  /* line 167, ../scss/owl-transitions.scss */
  to {
    opacity: 0;
    transform: scale(0.8); } }

@-webkit-keyframes goDown {
  /* line 170, ../scss/owl-transitions.scss */
  from {
    -webkit-transform: translateY(-100%); } }

@-moz-keyframes goDown {
  /* line 173, ../scss/owl-transitions.scss */
  from {
    -moz-transform: translateY(-100%); } }

@keyframes goDown {
  /* line 176, ../scss/owl-transitions.scss */
  from {
    transform: translateY(-100%); } }

@-webkit-keyframes scaleUpFrom {
  /* line 180, ../scss/owl-transitions.scss */
  from {
    opacity: 0;
    -webkit-transform: scale(1.2); } }

@-moz-keyframes scaleUpFrom {
  /* line 183, ../scss/owl-transitions.scss */
  from {
    opacity: 0;
    -moz-transform: scale(1.2); } }

@keyframes scaleUpFrom {
  /* line 186, ../scss/owl-transitions.scss */
  from {
    opacity: 0;
    transform: scale(1.2); } }

@-webkit-keyframes scaleUpTo {
  /* line 190, ../scss/owl-transitions.scss */
  to {
    opacity: 0;
    -webkit-transform: scale(1.2); } }

@-moz-keyframes scaleUpTo {
  /* line 193, ../scss/owl-transitions.scss */
  to {
    opacity: 0;
    -moz-transform: scale(1.2); } }

@keyframes scaleUpTo {
  /* line 196, ../scss/owl-transitions.scss */
  to {
    opacity: 0;
    transform: scale(1.2); } }

@keyframes curtainOut {
  /* line 201, ../scss/owl-transitions.scss */
  30% {
    transform: rotateX(-10deg);
    opacity: 0.6; }

  /* line 202, ../scss/owl-transitions.scss */
  90% {
    transform: rotateX(-10deg);
    opacity: 0.6; }

  /* line 203, ../scss/owl-transitions.scss */
  100% {
    transform: rotateX(0); } }

@keyframes curtainIn {
  /* line 206, ../scss/owl-transitions.scss */
  0% {
    transform: translateY(200%) scale(0.8);
    opacity: 0.5; }

  /* line 207, ../scss/owl-transitions.scss */
  60% {
    transform: translateY(-120px) scale(0.8);
    opacity: 0.9; }

  /* line 208, ../scss/owl-transitions.scss */
  90% {
    transform: translateY(120px) scale(1); }

  /* line 209, ../scss/owl-transitions.scss */
  100% {
    transform: translateY(0); } }

@-webkit-keyframes curtainOut {
  /* line 212, ../scss/owl-transitions.scss */
  30% {
    -webkit-transform: rotateX(-10deg);
    opacity: 0.6; }

  /* line 213, ../scss/owl-transitions.scss */
  90% {
    -webkit-transform: rotateX(-10deg);
    opacity: 0.6; }

  /* line 214, ../scss/owl-transitions.scss */
  100% {
    -webkit-transform: rotateX(0); } }

@-webkit-keyframes curtainIn {
  /* line 217, ../scss/owl-transitions.scss */
  0% {
    -webkit-transform: translateY(200%) scale(0.8);
    opacity: 0.5; }

  /* line 218, ../scss/owl-transitions.scss */
  60% {
    -webkit-transform: translateY(-120px) scale(0.8);
    opacity: 0.9; }

  /* line 219, ../scss/owl-transitions.scss */
  90% {
    -webkit-transform: translateY(120px) scale(1); }

  /* line 220, ../scss/owl-transitions.scss */
  100% {
    -webkit-transform: translateY(0); } }

@-moz-keyframes curtainOut {
  /* line 223, ../scss/owl-transitions.scss */
  30% {
    -moz-transform: rotateX(-10deg);
    opacity: 0.6; }

  /* line 224, ../scss/owl-transitions.scss */
  90% {
    -moz-transform: rotateX(-10deg);
    opacity: 0.6; }

  /* line 225, ../scss/owl-transitions.scss */
  100% {
    -moz-transform: rotateX(0); } }

@-moz-keyframes curtainIn {
  /* line 228, ../scss/owl-transitions.scss */
  0% {
    -moz-transform: translateY(200%) scale(0.8);
    opacity: 0.5; }

  /* line 229, ../scss/owl-transitions.scss */
  60% {
    -moz-transform: translateY(-120px) scale(0.8);
    opacity: 0.9; }

  /* line 230, ../scss/owl-transitions.scss */
  90% {
    -moz-transform: translateY(120px) scale(1); }

  /* line 231, ../scss/owl-transitions.scss */
  100% {
    -moz-transform: translateY(0); } }

@keyframes verticalOut {
  /* line 235, ../scss/owl-transitions.scss */
  to {
    transform: translateY(-100%) skewY(20deg); } }

@keyframes verticalIn {
  /* line 238, ../scss/owl-transitions.scss */
  from {
    transform: translateY(100%) skewY(20deg); } }
