

.owl-topSlide-out {
  animation: topSlideOut 1s both ease;
  -webkit-animation: topSlideOut 1s both ease;
}

.owl-topSlide-in {
  animation: topSlideIn 1s both ease;
  -webkit-animation: topSlideIn 1s both ease;
}



//_________________________________________________________________________________________


@keyframes topSlideOut {
  40%{
    transform: translateZ(-100px);
    opacity: 1;
    z-index: 0;
  }
  100% {
    transform: translateZ(-100px);
    opacity: 0;
    z-index: 0;
  }
}
@-webkit-keyframes topSlideOut {
  40%{
    transform: -webkit-translateZ(-100px);
    opacity: 1;
    z-index: 0;
  }
  100% {
    transform: -webkit-translateZ(-100px);
    opacity: 0;
    z-index: 0;
  }
}


@keyframes topSlideIn {
  0%, 25% {
    transform: translateZ(-100px) translateY(200%);
    z-index: 2;
  }

  80% {
    transform: translateZ(-100px);
    z-index: 2;
  }

  100% {
    transform: translateZ(0) translateY(0);
    z-index: 2;
  }
}
@-webkit-keyframes topSlideIn {
  0%, 25% {
    transform: -webkit-translateZ(-100px) translateY(200%);
    z-index: 2;
  }

  80% {
    transform: -webkit-translateZ(-100px);
    z-index: 2;
  }

  100% {
    transform: -webkit-translateZ(0) translateY(0);
    z-index: 2;
  }
}

